// .game-page-container {
//   height: 100%;
//   width: 100%;
// }

.game-page-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #b9bbb7, #3354b5);
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 30px;
  /* Optionally, to visually debug */
  background-color: lightgray;
}
