.square {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: rgb(32, 32, 227);
}

.light-blue {
  background-color: rgb(139, 218, 247);
}
