.square {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brown {
  background-color: brown;
}

.yellow {
  background-color: peachpuff;
}

.brown:hover {
  filter: brightness(85%);
}

.yellow:hover {
  filter: brightness(85%);
}
